* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-block {
  height: 200px;
  border: 1px dashed black;
  margin-bottom: 5px;
}

.display-inline {
  height: 200px;
  border: 1px solid black;
}

.display-inline .span-inline {
  font-weight: 900;
  color: red;
}
