* {
  margin: 0;
  padding: 0;

}

.main-nav {
  padding: 6px 10px; /* espacio interno */
  list-style: none;
  background-image: linear-gradient(to right top, #051937, #002365, #002994, #0028c2, #3912eb);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* especificidad */
.main_nav__item a {
  color: white;
  text-decoration: none;
}

/* pseudoclases: definen el estilo de un estado (hover, active, ...) */
.main_nav__item a:hover {
  color: black;
}

.main_nav__item a:active {
  text-decoration: underline;
}

/* pseudoelementos: definen el estilo de una parte en especifico del elemento (despues, antes, ..)   */
/* after: despues del elemento agregar este contenido ...  */
.main_nav__item a:after {
  content: " | ";
}

.main-nav .main_nav__item{
  width: 200px;
  text-wrap: wrap;
}