/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.main-list-nav {
  list-style: none;
}

.main-list-nav li {
  color: red;
}

nav .main-list-nav {
  list-style: unset;
}

nav .main-list-nav li {
  color: aqua;
}

.h1-ejemplo {
  color: red !important;
}

#h1-ejemplo {
  color: blue;
}
