.img-post {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  transition: all 0.5s ease;
}

h1 {
  color: yellow;
  font-size: 30px;
  font-weight: lighter;
}

/* class selector */
.h1-class {
  color: blue;
  font-size: 20px;
  font-weight: lighter;
}

/* id selector */
#h1-id {
  color: red;
  font-size: 10px;
  font-weight: lighter;
}

.section-h1 {
  background-color: aquamarine;
}
